.player {
  text-align: center;
  // height: 100px;
  h1 {
    transition: color 0.5s linear;
    transition: transform 0.5s ease-in-out;
    line-height: 75px;
    font-size: 4rem;
    text-shadow: 2px 2px #888888;
    margin-bottom: 0px;
  }
}
.p1 {
  color: darkred;
  transform: translateX(-100px)
}
.p2 {
  color: goldenrod;
  transform: translateX(100px)
}
.loading {
  height:75px;
}