.grid {
  display: grid;
  height: calc(6 * 5.5rem + 5*5px);
  width: calc(7 * 5.5rem + 6*5px);
  grid-template: repeat(6, 5.5rem) / repeat(7, 5.5rem);
  grid-gap: 5px;
  background-color: blue;
  margin-bottom: 15px;
  outline: 5px solid darkblue;
  overflow: hidden;
}

.disabled {
  opacity: 0.2
}

.cell {
  display: block;
  background-color: white;
  border: 4px solid lightblue;
  border-radius: 35px;
}

