.grid {
  display: grid;
  height: calc(6 * 5.5rem + 5*5px);
  width: calc(7 * 5.5rem + 6*5px);
  grid-template: repeat(6, 5.5rem) / repeat(7, 5.5rem);
  grid-gap: 5px;
  background-color: grey;
  margin-bottom: 15px;
}

.disabled {
  opacity: 0.2
}

.cell {
  display: block;
  background-color: white;
}